<nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between items-center">
            <div class="flex space-x-7 w-50">
                <div>
                    <a href="{% url "tasks" %}" class="flex items-center py-4">
                        <span class="font-semibold text-gray-500 text-lg">Todo App</span>
                    </a>
                </div>
            </div>
            <div class="w-40">
                <ul>
                    <li class="text-xl font-semibold hover:text-blue-600">Home</li>
                </ul>
            </div>
        </div>
    </div>
</nav>